.button-wrapper {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: beige;
  color: #000000;
  flex: 1;
  outline: 5px solid #000000;
  outline-offset: -4px;
}

.operator {
  background-color: #cc7533;
  color: #ffffff;
}
