.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(31, 31, 31)
}

.calc-wrapper {
  width: 400px;
  height: 570px;
  background-color: black;
  border: 10px solid black;
}

.row {
  display: flex;
  width: 100%;
}
